# Ativação do RewriteEngine que nos permite gerenciar as rotas
RewriteEngine on
Options +FollowSymLinks +SymLinksIfOwnerMatch

# Definição da rota principal
# RewriteBase /index.php

# Se o diretório ou arquivos digitados na URL não existirem, seguir a RewriteRule
# RewriteCond %{REQUEST_FILENAME} !-d       
# RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite Rule, redirecionar todas as requests para o index.php 
RewriteRule ^(.+)$ \index.php [QSA,L]

# Exibir erros
php_flag display_errors on
php_value error_reporting -1